.App {
  text-align: center;
}

.TypeElement {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.TypeElement:hover {
  opacity: 0.8;
}

.TypeElement img {
  width: 50px;
  height: auto;
}

.TypeElement p {
  margin: 5px 0;
}